window {
    margin: 0px;
    background-color: rgb(0, 8, 28, 1);
    border-radius: 14px;
    border: 0px solid #0099ff;
}

* {
    font-size: 14px;
}

#input {
    margin: 4px 5px 0px 5px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #0099ff;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    background-color: transparent;
}

#scroll {
    margin: 10px 5px 10px 5px;
    border: none;
    background-color: rgba(52, 68, 105, 0.2);
    border-radius: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
} 

#entry {
    padding: 5px 0px 5px 10px;
    background-color: transparent;
    border-radius: 20px;
    outline: none;
}

#entry:selected {
    padding: 5px 0px 5px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    outline: none;
}